<div class="contentContainer">
  <div class="content">
    <div class="headerTitle">
      <!-- <img
        class="titlelogo"
        src="https://firebasestorage.googleapis.com/v0/b/resourcery-6cdb0.appspot.com/o/sb21%2Fimages%2FwelcomePage.jpg?alt=media&token=179ae80f-fae5-456c-9e25-986f11b4bfe1"
        alt=""
      /> -->
      <img class="titlelogo" src="../../assets/images/small_logo.svg"/>
    <div class="title" routerLink="welcome">
      Sovereign Black 21
    </div>
      <!-- <img src="https://firebasestorage.googleapis.com/v0/b/resourcery-6cdb0.appspot.com/o/sb21%2Fimages%2FMy%20project-1.png?alt=media&token=0e3ef4e4-8c1d-45b9-b2df-19519d843c20" alt="" class="title" /> -->
    </div>

    <div class="headerNavBar">
      <mat-nav-list class="header-nav-list">

        <mat-list-item class="header-nav-list-item">
         <fa-icon [icon]="userIcon" (click)="toggle()"></fa-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>

