 mat-card.card {


    transform: rotate(0deg);
    padding:0;
    width: 130px;
    padding:0px 0px;

    height: auto;
    border: 2px black solid;
    border-radius: 12px;
    margin: 20px 20px;
    background-color: transparent;
    overflow: hidden;
    img {
     width: inherit;
      height: inherit;
      background-color: white;
      border-radius: 12px;
      margin:auto auto auto auto;
      padding:auto;
    }
  }
