
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/prebuilt-themes/indigo-pink.css";



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($sbj-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primaryColor: #388E3C;
  //  --accentColor:#FFCA28;// b28f27
  --accentColor: #b28f27;
  --secondaryColor: #1B5E20;
  --secondAccentColor:#A22817;
  --warnColor:#FF3D00;
}
